.body {
    width: calc(100% - 5rem);
    min-width: 570px;
    min-height: 100%;
    margin-left: 5rem;
    // margin-right: 25rem;
    z-index: 0;
    position: relative;
    top: 0;
    transition: all .2s ease;
    background: rgb(255, 253, 253);
    padding: 3rem;
}

.body-trimmed {
    width: calc(100% - 22rem);
    margin-left: 22rem;
}

.body-md-screen {
    width: calc(100% - 5rem);
    margin-left: 5rem;
}