<form>
    <table id="fermentsTable" class="table table-sd table-hover">
        <thead>
            <h3>{{ 'calc-form.ferments.heading' | translate }}</h3>
            <tr>
                <th scope="col" class="text-left">
                    <h4>{{ 'calc-form.ferments.ripeStarterHeading' | translate }}</h4>
                </th>
                <th scope="col" class="text-center">{{ 'calc-form.headings.bakersPercent' | translate }}</th>
                <th scope="col" class="text-center">{{ 'calc-form.headings.weightGrams' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row" class="middle-right">{{ 'calc-form.ferments.flour' | translate }}</th>
                <td>
                    <div class="input-container">
                        <input type="number" min="0" max="100" class="form-control" id="flourBakers" required readonly
                            [(ngModel)]="model.ripeStarter.flourBakers" name="flourBakers" #flourBakers="ngModel"  (ngModelChange)="recalculateWeights()"/>
                    </div>
                </td>
                <td class="middle-center">{{ fermentsWeights.ripeStarter.flourWeight | number: '1.0-1' }} (g)</td>
            </tr>
            <tr>
                <th scope="row" class="middle-right">{{ 'calc-form.ferments.water' | translate }}</th>
                <td>
                    <div class="input-container">
                        <input type="number" min="0" max="100" class="form-control" id="waterBakers" required
                            [(ngModel)]="model.ripeStarter.waterBakers" name="waterBakers" #waterBakers="ngModel"  (ngModelChange)="recalculateWeights()"/>
                    </div>
                </td>
                <td class="middle-center">{{ fermentsWeights.ripeStarter.waterWeight | number: '1.0-1' }} (g)</td>
            </tr>
            <tr class="no-hover">
                <th scope="row" class="middle-right"></th>
                <td></td>
                <td class="bold middle-center">{{ fermentsWeights.ripeStarter.totalWeight | number: '1.0-1' }} (g)</td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <th scope="col" class="text-left">
                    <h4>{{ 'calc-form.ferments.levainHeading' | translate }}</h4>
                </th>
                <th scope="col" class="text-center">{{ 'calc-form.headings.bakersPercent' | translate }}</th>
                <th scope="col" class="text-center">{{ 'calc-form.headings.weightGrams' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row" class="middle-right">{{ 'calc-form.ferments.strongWhiteFlour' | translate }}</th>
                <td>
                    <div class="input-container">
                        <input type="number" min="0" max="100" class="form-control" id="strongWhiteFlourBakers" required
                            readonly [(ngModel)]="model.levain.strongWhiteFlourBakers" name="strongWhiteFlourBakers"
                            #strongWhiteFlourBakers="ngModel"  (ngModelChange)="recalculateWeights()"/>
                    </div>
                </td>
                <td class="middle-center">{{ fermentsWeights.levain.strongWhiteFlourWeight | number: '1.0-1' }} (g)</td>
            </tr>
            <tr>
                <th scope="row" class="middle-right">{{ 'calc-form.ferments.water' | translate }}</th>
                <td>
                    <div class="input-container">
                        <input type="number" min="0" max="100" class="form-control" id="levainWaterBakers" required
                            [(ngModel)]="model.levain.waterBakers" name="levainWaterBakers" #levainWaterBakers="ngModel"  (ngModelChange)="recalculateWeights()"/>
                    </div>
                </td>
                <td class="middle-center">{{ fermentsWeights.levain.waterWeight | number: '1.0-1' }} (g)</td>
            </tr>
            <tr>
                <th scope="row" class="middle-right">{{ 'calc-form.ferments.ripeStarter' | translate }}</th>
                <td>
                    <div class="input-container">
                        <input type="number" min="0" max="100" class="form-control" id="ripeStarterBakers" required
                            [(ngModel)]="model.levain.ripeStarterBakers" name="ripeStarterBakers"
                            #ripeStarterBakers="ngModel"  (ngModelChange)="recalculateWeights()"/>
                    </div>
                </td>
                <td class="middle-center">{{ fermentsWeights.levain.ripeStarterWeight | number: '1.0-1' }} (g)</td>
            </tr>
            <tr class="no-hover">
                <th scope="row" class="middle-right"></th>
                <td></td>
                <td class="bold middle-center">{{ fermentsWeights.levain.totalWeight | number: '1.0-1' }} (g)</td> 
            </tr>
        </tbody>
    </table>

</form>