form {
    // height: 100%;
    // left: 0;
    display: flex;
    width: 36rem;
    border: 1px dashed rgba(0, 0, 0, 0.150);
    border-top: 1px solid rgba(0, 0, 0, 0.275);
    border-bottom: 1px solid rgba(0, 0, 0, 0.275);
    border-radius: 8px;
    flex-shrink: 2;
    background-color: #fffbf2de;

    .middle-right {
        text-align: right;
        vertical-align: middle;
    }

    .middle-center {
        text-align: center;
        vertical-align: middle;
    }

    button {
        padding: 16px;
        font-size: large;
        font-weight: bold;
    }

    td {
        text-align: center;
        vertical-align: middle;
    }

}
