<div class="content">
    <p>Welcome to the Sourdough Bread Calculator, a user-friendly tool designed to simplify your sourdough bread baking
        process.</p>

    <p>Whether you are an experienced baker or just starting your sourdough journey, this calculator is here to assist
        you in achieving consistently delicious results.</p>

    <p>Baking sourdough bread is both an art and a science, requiring careful attention to ingredient ratios,
        fermentation times, and dough hydration levels. With the Sourdough Bread Calculator, we aim to take the
        guesswork out of these calculations and provide you with precise measurements for your desired bread weight,
        levain percentage, flour types, dough hydration, and more.</p>

    <p>
        Here's how it works:</p>
    <ul>

        <li>Customization: Begin by selecting your desired bread weight, levain percentage, flour types, and dough
            hydration. Our calculator offers a wide range of options to suit your preferences and dietary needs,
            allowing you to create the perfect loaf every time.</li>

        <li>Automatic Updates: As you make your selections, the Sourdough Bread Calculator will instantly update with
            all the calculated weights of ingredients. This includes the amounts of flour, water, levain, salt, and any
            other additives required for your chosen recipe. This real-time feedback ensures accuracy and helps you plan
            your baking process efficiently.</li>

        <li>Save and Load: We understand that every baker has their favorite recipes. With our calculator, you can
            easily save and load your preferred sourdough bread recipes. This feature allows you to revisit and recreate
            your successful bakes with ease, eliminating the need to manually remember or calculate ingredient ratios
            each time.</li>

    </ul>
    <p>Our goal is to provide you with a reliable tool that streamlines your baking experience and empowers you to
        experiment with different recipes and variations. The Sourdough Bread Calculator saves you time, enhances
        precision, and allows you to focus on the creative aspects of bread making.</p>


    <p>Please note that while our calculator provides accurate measurements, baking is still a dynamic process
        influenced by factors such as ambient temperature, flour quality, and personal preference. Therefore, it's
        always valuable to monitor and adjust your dough during the fermentation and proofing stages to achieve the
        desired texture and flavor.</p>

    <p>Enjoy the process of creating homemade sourdough bread and let the Sourdough Bread Calculator be your trusted
        companion along the way. Happy baking!</p>
</div>