table {
    display: flex;
    width: 42rem;
    height: auto;
    border: 1px dashed rgba(0, 0, 0, 0.150);
    border-top: 1px solid rgba(0, 0, 0, 0.275);
    border-bottom: 1px solid rgba(0, 0, 0, 0.275);
    border-radius: 8px;
    flex-shrink: 2;
    background-color: #fffbf2de;

    .middle-right {
        text-align: right;
        vertical-align: middle;
    }

    .middle-center {
        text-align: center;
        vertical-align: middle;
    }
}

.columns {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1px;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {}