table {
    display: flex;
    // width: calc(126rem + 2px);
    width: 42rem;
    height: auto;
    border-top: 1px solid rgba(0, 0, 0, 0.275);
    // border-bottom: 1px solid rgba(0, 0, 0, 0.275);
    border-bottom: none;
    border-radius: 4px 4px 0px 0px;
    flex-shrink: 2;
    background-color: #fffbf2de;

    .middle-right {
        text-align: right;
        vertical-align: middle;
    }

    .middle-center {
        text-align: center;
        vertical-align: middle;
    }

    thead>tr>h2 {
        font-weight: 600;
        border-bottom: 1px solid #0001;
      }
}

.columns {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    gap: 1px;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.save-load {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: auto;
    padding: 4px 8px;
}

