<form id="recipeForm" class="noselect">
    <table id="recipeTable" class="table">
        <thead>
            <tr>
                <h2 class="middle-center">{{ 'calc-form.heading' | translate }}</h2>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row" class="middle-right">{{ 'calc-form.doughWeight' | translate }}</th>
                <td>
                    <input type="number" min="100" max="2000" class="form-control" id="doughWeight" required
                        [(ngModel)]="model.doughWeight" name="doughWeight" #doughWeight="ngModel"
                        (ngModelChange)="updateFormula()" placeholder="hello"/>
                </td>
            </tr>
            <tr>
                <th scope="row" class="middle-right">{{ 'calc-form.levain' | translate }}</th>
                <td>
                    <input type="number" min="0" max="100" class="form-control" id="levain" required
                        [(ngModel)]="model.levain" name="levain" #levain="ngModel" />
                </td>
            </tr>
            <tr>
                <th scope="row" class="middle-right">{{ 'calc-form.loaves' | translate }}</th>
                <td>
                    <input type="number" min="0" max="30" class="form-control" id="scale" required
                        [(ngModel)]="model.scale" name="scale" #scale="ngModel" />
                </td>
            </tr>
        </tbody>
    </table>
</form>
<div class="columns noselect">
    <div class="column">
        <app-total-ingredients [doughWeight]="model.doughWeight" [levain]="model.levain"
            [scale]="model.scale"></app-total-ingredients>

    </div>
    <div class="column" id="app-ferments">
        <app-ferments [doughWeight]="model.doughWeight" [levain]="model.levain" [scale]="model.scale"></app-ferments>
    </div>
    <div class="column" id="app-main-dough">
        <app-main-dough></app-main-dough>
        <div class="save-load">
            <button class="btn btn-success" (click)="saveToLocalStorage()">{{ 'calc-form.localStorage.saveBtnLabel' | translate }}</button>
            <button class="btn btn-info" (click)="loadFromLocalStorage()">{{ 'calc-form.localStorage.loadBtnLabel' | translate }}</button>
        </div>
    </div>
</div>