.sidenav {
    background: rgb(221, 221, 221);
    transition: all .25s ease;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 5rem;
    // width: 16.5625rem;
    // width: 20rem;
    height: 100vh;
    box-shadow: 0.063rem 0 0.55rem 0 rgba(80, 75, 80, 0.667);

    .logo-container {
        display: flex;
        align-items: center;
        padding: 3rem 0.938rem 3rem 0.938rem;
        width: 100%;
        border-bottom: 1px solid #d8d8d8;
        background-color: rgb(246, 246, 246);

        .logo {
            background: #fff;
            text-align: center;
            width: 3rem;
            min-width: 3rem;
            border-radius: 0.313rem;
            padding: 0.313rem;
            font-size: 16px;
            font-weight: 900;
            cursor: pointer;
            border: 1px solid #0002;
        }

        .logo-text {
            margin-left: 1.5rem;
            font-size: 20px;
            font-weight: 900;
            color: rgb(36, 36, 36);
        }

        .btn-close {
            margin-left: auto;
            cursor: pointer;
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            background-color: transparent;
            border: none;

            .fa-xmark {
                color: rgb(36, 36, 36);
                font-size: 24px;
            }
        }

    }
}

.sidenav-collapsed {
    width: 22rem;
}

.sidenav-nav {
    list-style: none;
    padding: 0.938rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 3.65rem);
    cursor: pointer;

    .sidenav-nav-item {
        width: 100%;
        margin-bottom: 0.625rem;

        .sidenav-nav-link {
            display: flex;
            align-items: center;
            height: 4rem;
            color: #1b1b1b;
            text-decoration: none;
            border-radius: 0.625rem;
            font-weight: 400;
            transition: all .25s ease;

            .sidenav-link-icon {
                font-size: 20px;
                width: 2rem;
                min-width: 2rem;
                margin: 24px 0.5rem;
                text-align: center;
            }

            .sidenav-link-text {
                margin-left: 1.5rem;
            }
        }
    }

    .sidenav-nav-item:hover {
        .sidenav-nav-link {
            background-color: #fff;
            color: rgb(27, 27, 27);
            font-weight: 700;
        }
    }
}

.active {
    background-color: #f7f7f7;

    .sidenav-link-icon,
    .sidenav-link-text {
        color: #000;
    }
}

.btn-print {
    position: absolute;
    bottom: 2rem;
    width: 80%;

    &:hover {
        background-color: inherit;
        font-weight: bold;
    }

    span {
        padding-left: 2rem;
    }
}