<div class="sidenav noselect" [ngClass]="collapsed ? 'sidenav-collapsed': ''">
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapse()">
            <i class="fa-solid" [ngClass]="collapsed ? 'fa-bars-staggered': 'fa-bars'"></i>
        </button>
        <div class="logo-text" @fadeInOut *ngIf="collapsed">{{ 'sidenav.labels.title' | translate }}</div>
        <button class="btn-close" *ngIf="collapsed" (click)="closeSidenav()">
            <i class="fa-solid fa-xmark close-icon" @rotate></i>
        </button>
    </div>
    <ul class="sidenav-nav">
        <li class="sidenav-nav-item" *ngFor="let data of navData">
            <a class="sidenav-nav-link" [routerLink]="[data.routeLink]" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <i class="sidenav-link-icon" [class]="data.icon"></i>
                <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">{{data.label | translate}}</span>
            </a>
        </li>        
        <button class="btn btn-print" title="{{ 'sidenav.print-btn-label' | translate }}" onclick="window.print()"><i class="fa-solid fa-print"></i>
            <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">{{ 'sidenav.print-btn-label' | translate }}</span>
        </button>
    </ul>
</div>