/* Language switcher */
.lang-switcher {
    position: fixed;
    width: 88px;
    min-width: 88px;
    height: 40px;
    min-height: 40px;
    top: 10px;
    right: 10px;
    background: #303030;
    border: 1px solid;
    border-color: #FFFFFF25;
    padding: 5px;
    border-radius: 6px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);

    button {
        background: transparent;
        border: none;
    }

    span {
        width: 3rem;
        height: 2.3rem;
    }


    .hide {
        visibility: hidden;
    }

    .unhide {
        visibility: visible;
    }

}

//* on-load and on-click animations of the i18n flags
.tada-animation {
    -webkit-animation-name: tada-animation;
    animation-name: tada-animation;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    opacity: 1;
    transition-duration: 250ms;
}

.tada-animation:focus {
    -webkit-animation: tada-animation 1s ease-in-out backwards;
    animation: tada-animation 1s ease-in-out backwards;
    opacity: 1;
}

.tada-animation:active {
    -webkit-animation: none;
    animation: none;
    opacity: 1;
}

.tada-animation:hover {
    filter: brightness(1.5);
    transition-duration: 250ms;
}

@-webkit-keyframes tada-animation {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    10%,
    20% {
        -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }

    30%,
    50%,
    70%,
    90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }

    40%,
    60%,
    80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes tada-animation {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    10%,
    20% {
        -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }

    30%,
    50%,
    70%,
    90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }

    40%,
    60%,
    80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
//* endof flags animation