/* You can add global styles to this file, and also import other style files */
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

body {
    background-color: rgb(255, 255, 255);
    color: rgb(39, 39, 39);
    font-family: 'Nunito Sans', sans-serif;
}

.middle-center {
    vertical-align: middle;
    text-align: center;

    &-td {
        width: 4rem;
    }



}

.middle-right {
    width: 24rem;
    vertical-align: middle;
    text-align: right;
}

form {
    margin-left: 12rem;
    width: 50rem;

    th {
        min-width: 12rem;
    }

}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 2px;
    line-height: 2;
    vertical-align: middle;
    border-top: 1px solid #dddddd6b;

    div.input-container {
        // width: calc(100% + 14px);
        // display: flex;
        // align-items: center;
        // justify-content: center;
        // width: 100%;
        // position: absolute;

        i {
            width: 0;
            height: 0;
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	        // transform: scale(1);

        }

        .validation-warning {

            display: block;
            position: relative;
            color: red;
            left: 113px;
            top: -24px;
            // animation: pulse 2s infinite;


            &:after {
                // animation: none;
            }

            &:hover::after {
                content: attr(error-tooltip);
                position: absolute;
                width: max-content;
                max-width: 200px;
                margin-left: 8px;
                background: rgba(255, 224, 224, 0.69);
                border: 1px solid #ff9b9b;
                border-radius: 2px;
                padding: 8px;
                color: #aa0606;
                font-size: smaller;
                font-family: initial;
                font-weight: initial;
                // animation: none;

            }

        }

    }
}




//* remove number input arrows =========
//* chrome, safari, edge, opera
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

//* firefox
input[type=number] {
    -moz-appearance: textfield;
    width: 100px;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    height: 2rem;
    font-size: smaller;
    outline: none;
    border: none;

    &:focus {
        box-shadow: none;

        &:not(:read-only) {
            border: 1px dashed rgba(136, 136, 136, 0.4);
            box-shadow: 0 0 5px rgb(211, 211, 211);
        }
    }

    &:read-only {
        $stripe01: #dedede4f;
        $stripe02: #ebebeb4f;
        $stripe03: #c9c9c94f;

        background-image: linear-gradient(135deg, $stripe01 22.73%, $stripe02 22.73%, $stripe02 45.45%, $stripe03 45.45%, $stripe03 50%, $stripe01 50%, $stripe01 72.73%, $stripe02 72.73%, $stripe02 95.45%, $stripe03 95.45%, $stripe03 100%);
        background-size: 11.00px 11.00px;

        border: none;
        box-shadow: none;
    }

}

//* ====================================


//* noselect ===========================
.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

//* ====================================


@media print {

    * {
        margin: 0 !important;
        padding: 0 !important;
    }

    html,
    body,
    content {
        /*changing width to 100% causes huge overflow and wrap*/
        height: 100%;
        overflow: hidden;
        background: #FFF;
        font-size: 9.5pt;
    }

    li {
        margin: 0 0 10px 20px !important;
    }


    form>table>tbody>tr>td {
        text-align: center !important;
    }

    .input-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .noprint {
        visibility: hidden;
    }


}

//* Pulse animation keyframes
@keyframes pulse {
	0% {
		transform: scale(1);
		// box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	50% {
		transform: scale(2);
        // bottom: -6px;
		// box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(1);
		// box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}