/* You can add global styles to this file, and also import other style files */
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

body {
    background-color: rgb(255, 255, 255);
    color: rgb(39, 39, 39);
    font-family: 'Nunito Sans', sans-serif;
}

.middle-center {
    vertical-align: middle;
    text-align: center;
    // background-color: #AA0A;

    &-td {
        // background-color: red;
        width: 4rem;
    }
}

.middle-right {
    width: 24rem;
    vertical-align: middle;
    text-align: right;
    // background-color: #A0AA;
}

form {
    width: 50rem;

    th {
        min-width: 12rem;
    }
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
	padding: 2px;
	line-height: 1.42857143;
	vertical-align: middle;
	border-top: 1px solid #dddddd6b;
}


//* remove number input arrows =========
//* chrome, safari, edge, opera
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

//* firefox
input[type=number] {
    -moz-appearance: textfield;
    width: 100px;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    height: 2rem;
    font-size: smaller;
    outline: none;
    border: none;
}
//* ====================================


//* noselect ===========================
.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
//* ====================================