/* You can add global styles to this file, and also import other style files */
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

body {
    background-color: rgb(44, 44, 44);

    color: rgb(39, 39, 39);
    font-family: 'Nunito Sans', sans-serif;

    form:not(#recipeForm) {
        height: 600px;
    }

}


#recipeTable,
#weightsTable,
#fermentsTable {

    // margin: auto;
    margin-top: 12px;
    margin-bottom: 0px;

    tr {

        .form-control:focus {
            -webkit-box-shadow: inset 0px 0px 8px 2px rgba(233, 185, 89, 0.25);
            -moz-box-shadow: inset 0px 0px 8px 2px rgba(233, 185, 89, 0.25);
            box-shadow: inset 0px 0px 8px 2px rgba(233, 185, 89, 0.25);
            border: 1px solid rgba(233, 185, 89, 0.8);
        }

        td.bold {
            font-weight: bold;
        }

        input {
            width: 100%;
            margin: auto;
            display: block;
            text-align: center;

            &[type='number']:not(:read-only) {
                background-color: #fffdf9;
            }

            &[type='number']:read-only {
                pointer-events: none;
                background: repeating-linear-gradient(45deg,
                        #f8faff41,
                        #f8faff41 6px,
                        #e6e6e663 6px,
                        #e6e6e663 12px);
            }
        }

        text-align: center;
        align-items: center;
    }
}

#recipeTable {
    tbody {
        width: 100%;
    }
    td {
        width: 10rem;
    }
}

.table-hover>tbody>tr.no-hover:hover {
    background-color: inherit;
}


//* remove number input arrows
//* chrome, safari, edge, opera
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

//* firefox
input[type=number] {
    -moz-appearance: textfield;
}

//* noselect
.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}