<div id="overlay" *ngIf="!isHidden">
    <div id="upload-container">
        <div class="btn-close">
            <i class="fa-regular fa-circle-xmark" (click)="closeOverlay()"></i>
        </div>

        <div id="form-container">
            <div id="title-container">
                <form>
                    <input *ngIf="!canShowError" type="text" id="recipeTitle" required tabindex="1" [placeholder]="'form.upload.titlePlaceholderLabel' | translate" [(ngModel)]="recipeTitle" name="title" appAutofocus />
                    <p *ngIf="token === undefined && canShowError" id="errorMsg">Something went wrong with the token. Close popup and try again.</p>
                </form>
            </div>

            <div id="recipe-url" *ngIf="showUrl">

            </div>

            <div id="buttons-container">
                <button id="upload-button" [disabled]="token === undefined" class="btn btn-success" (click)="addRecipeToDb()">hello</button>
            </div>
        </div>
    </div>
</div>

<div id="invalid-form-overlay" *ngIf="showInvalidFormOverlay">
    <div id="error-container">
        <div class="btn-close">
            <i class="fa-regular fa-circle-xmark" (click)="closeOverlay()"></i>
        </div>

<div id="error-msg">
    <p>There are errors in your recipe. blabllab</p>
</div>
<div id="buttons-container">
    <button id="error-close-button" class="btn btn-warning" (click)="closeOverlay()">close</button>
</div>
        
    </div>
</div>

<form #form="ngForm">
    <div class="row">
      <div class="col-sm-12 mb-2">
        <button class="btn btn-success" (click)="uploadRecipe(); send(form);">Upload recipe</button>
      </div>
    </div>
  </form>
