<div id="overlay" *ngIf="!isHidden">
    <div id="upload-container">
        <div class="btn-close">
            <i class="fa-regular fa-circle-xmark" (click)="closeOverlay()"></i>
        </div>

        <div id="form-container">
            <div id="title-container">
                <form>
                    <!-- <label for="recipeTitle">Recipe title:</label> -->
                    <input type="text" id="recipeTitle" required [placeholder]="titlePlaceholder" [(ngModel)]="recipeTitle" name="title" appAutofocus />
                </form>
            </div>

            <div id="recipe-url" *ngIf="showUrl">

            </div>

            <div id="buttons-container">
                <button id="upload-button" [disabled]="!btnActive" class="btn btn-success" (click)="addRecipeToDb()">hello</button>
            </div>
        </div>
    </div>
</div>

<div id="invalid-form-overlay" *ngIf="showInvalidFormOverlay">
    <div id="error-container">
        <div class="btn-close">
            <i class="fa-regular fa-circle-xmark" (click)="closeOverlay()"></i>
        </div>

<div id="error-msg">
    <p>There are errors in your recipe. blabllab</p>
</div>
<div id="buttons-container">
    <button id="error-close-button" class="btn btn-warning" (click)="closeOverlay()">close</button>
</div>
        
    </div>
</div>

<form  #form="ngForm">
    <button class="btn btn-success" (click)="uploadRecipe(); send(form)">Upload recipe</button>
</form>
